@import './sass/variables';
@import './sass/customize';

@import './theme/scss/theme.scss';

.dashboard-container {
  user-select: none;
  .react-grid-item {
    z-index: 0;
    .react-resizable-handle {
      visibility: hidden;
    }

    &:hover .react-resizable-handle {
      visibility: visible;
    }
  }
  .react-grid-item.js-active {
    z-index: inherit;
  }
  .react-grid-item.js-active .react-resizable-handle {
    visibility: visible;
    z-index: 11;
  }
  .react-grid-item.react-grid-placeholder {
    background: #253746;
    opacity: 0.39;
    transition-duration: 100ms;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .dashboard-grid-layout {
    min-height: 100vh;
  }
}

.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;
}
.onlyprint {
  display: none;
}

@media print {
  .app-controls {
    display: none !important;
  }
  .noprint {
    display: none !important;
  }
  .onlyprint {
    display: block !important;
  }
  #epsilo-appbar {
    display: none;
  }
  #epsilo-left-menu {
    display: none;
  }
}

// @page {
//   // size: 503mm 1200mm;
//   margin: 0mm;
// }
