.table-chartlib {
  .dropdown-menu {
    left: auto !important;
    right: 0 !important;
  }

  .header {
    .th {
      font-size: 12px;
      color: #8C98A4;
      background: #F8FAFD !important;
      padding: 16px !important;
    }
  }

  .body {
    .tr {
      border: none !important;
    }
    .td {
      padding: 16px !important;
    }
  }
}