.loading {
  display: flex;
  align-items: center;
  background: #c5c5c5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  img {
    width: 32px;
    height: 32px;
    margin: 0 auto;
  }
}