// Color system

// $border-radius: 5px;
// $border-radius-lg: 5px;

$link-hover-color: inherit;
$font-family-base: 'Roboto', -apple-system, BlinkMacSystemFont,
  'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif !default;

$h1-font-size: 32px !important;
$h2-font-size: 24px !important;
$h3-font-size: 18px !important;
$h4-font-size: 16px !important;
$h5-font-size: 14px !important;
$h6-font-size: 12px !important;

$font-weight-bold: 500 !important;
$chartjs-tooltip-wrap-zindex: 1200;