.metric-detail {
  position: relative;
  height: 100%;
  text-align: center;

  .variance {
    color: #0BA373;
    font-size: 1.142em;
    position: relative;
    .arrow {
      font-size: 1em;
    }
    .up {
      color: #0BA373;
    }
    .down {
      color: #D4290D;
    }
  }
  
  .card-body {
    padding: 12px !important;
    display: flex;
    flex-direction: column;
    .card-title {
      font-size: 1.142857em !important;
    }
  }
  
  .card-subtitle {
    color: #8C98A4 !important;
    font-size: 0.8571em !important;
    margin: 0 !important;
  }

  .chartlib-header {
    flex-grow: 1;
  }
  
  .chartlib-body {
    flex-grow: 5;
  }

  .chartjs-custom {
    margin: 0 !important;
  }

  .metric-bg {
    width: 100%;
    height: 100%;
    border: 1px solid #dadada;
    padding: 20px;
    border-radius: 4px;
  }

  .refresh {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .loading {
    background: #c5c5c5;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
