.metric-total {
  height: 100%;
  .variance {
    color: #0BA373;
    font-size: 1.142em;
    float: right;
    position: relative;
    padding-left: 15px;
    .arrow {
      font-size: 1em;
    }
    .up {
      color: #0BA373;
    }
    .down {
      color: #D4290D;
    }
  }
  
  .card-body {
    padding: 12px !important;
    display: flex;
    flex-direction: column;
    .card-title {
      font-size: 1.714em !important;
    }
  }
  
  .card-subtitle {
    color: #8C98A4 !important;
    font-size: 0.8571em !important;
  }
  
  .chartlib-header {
    flex-grow: 2;
  }
  
  .chartlib-body {
    flex-grow: 3;
  }

  .chartjs-custom {
    margin: 0 !important;
  }
}
